/Ejemplos/nbproject/private/
/Ejemplos/build/
/Problematicas/Problema2/Problema2/nbproject/private/
/Problematicas/Problema1/nbproject/private/
/Problematicas/Problema1/build/
/Problematicas/Problema2/nbproject/private/
/Problematicas/Problema2/build/
/Problematicas/Problema3/nbproject/private/
/Problematicas/Problema3/build/
/Problematicas/Problema4/nbproject/private/
/Problematicas/Problema4/build/
/Problematicas/Problema5/nbproject/private/
/Problematicas/Problema5/build/
